.summaryList {
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
}

.alphList {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.alphList > div {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	margin-top: 1rem;
	margin-right: 1rem;
	max-width: 100%;
}

.letter {
	margin-top: 2rem;
}